#container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0.5rem;
  min-height: 27rem;
  background-color: #ffffff;
  line-height: initial;
}

#form {
  display: flex;
  height: 3rem;
}

#input {
  flex: 1;
  padding: 0 0.5rem;
  margin-right: 1rem;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #94a3b8;
  border-radius: 4px;
  outline: none;
}

#input:focus {
  border: 2px solid #475569;
}

#input.error {
  border-color: #d93025;
  padding: 1rem 0.5rem;
}

#span-error {
  color: #d93025;
  padding: 0.5rem;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0 1rem;
  background: #475569;
  color: #ffffff;
}

#loading-spinner {
  height: 4rem;
  width: 4rem;
  margin: auto;
}

#no-data {
  color: #000000;
  margin: auto;
}

#performance-bars-container-legend {
  font-weight: 600;
  margin-top: 2rem;
  color: #000000;
  text-align: left;
}

#performance-bar {
  color: #000000;
  height: 5rem;
}

.legend-metric-title {
  text-align: left;
  margin-top: 1.5rem;
}

.legend-metric {
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.bar {
  width: 100%;
  height: 1rem;
}

.marker {
  display: inline-block;
  border-right: 2px solid black;
  height: 2rem;
  position: relative;
  top: -24px;
}

.good {
  background-color: #0cce6a;
}

.fair {
  background-color: #ffa400;
}

.poor {
  background-color: #ff4e43;
}

#form,
#input,
#performance-bars-container-legend,
button,
.legend-metric-title,
.legend-metric {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  #form,
  #input,
  #performance-bars-container-legend,
  button,
  .legend-metric-title,
  .legend-metric {
    font-size: 0.8rem;
  }

  .legend-metric-title {
    margin-top: 0.6rem;
  }

  #performance-bars-container-legend {
    margin-top: 1rem;
  }

  #container {
    min-height: 25rem;
  }
}
